/* src/Navbar.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
  }
  
  .navbar {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-logo img {
    height: 80px;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin: 0 15px;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar-links a:hover {
    color: #ff7f50;
  }
  
  .navbar-signup {
    background-color: #ff7f50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out;
  }
  
  .navbar-login:hover {
    background-color: #ff6347;
  }
  .navbar-login {
    background-color: #ff7f50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out;
  }
  
  .navbar-signup:hover {
    background-color: #ff6347;
  }
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-links {
      flex-direction: column;
      width: 100%;
    }
  
    .navbar-links li {
      margin: 10px 0;
    }
  
    .navbar-signup {
      margin-top: 10px;
    }
    .navbar-login {
      margin-top: 5px;
    }
  }
  