/* Footer.css */

.footer {
  background-color: #282c34;
  color: #fff;
  padding: 40px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.footer-section {
  width: 30%;
}

.footer-section h4 {
  margin-bottom: 20px;
  font-size: 18px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
  color: #fff;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-section .social-icons {
  color: #fff;
  display: flex;
  gap: 15px;
}

.footer-section .social-icons a {
  color: #fff;
  font-size: 18px;
}

.footer-section p {
  font-size: 14px;
  margin: 5px 0;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #fbf4f4;
  padding-top: 10px;
  font-size: 14px;
}
